@use 'sass:math';
@use 'sass:map';
@use './vars' as vars;
@import './breakpoints';

@mixin media($_screen) {
  @if $_screen == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $_screen == to-tablet {
    @media screen and (max-width: $to-tablet) {
      @content;
    }
  } @else if $_screen == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $_screen == to-desktop {
    @media screen and (max-width: $to-desktop) {
      @content;
    }
  } @else if $_screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin font($_fsz, $_lnh: null) {
  font-size: #{$_fsz}px;

  @if $_lnh != null {
    @if $_lnh > 10 {
      line-height: math.div(math.round(math.div($_lnh, $_fsz) * 100), 100);
    } @else {
      line-height: #{math.div($_lnh * 100, 100)};
    }
  }
}

@mixin font-weight($name) {
  font-weight: map-get($font-weights, $name);
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;

    &:hover {
      background-color: rgba($_white_text_color, 0.3);
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: $_navbar_bg;
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 100px;

    &:hover {
      background-color: $_btn_color;
    }
  }
}

@mixin frame($width, $height: $width, $is-circle: false) {
  width: $width;
  height: $height;

  @if $is-circle {
    border-radius: 50%;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@mixin mq($bp: mobile, $type: min, $is-retina: false) {
  $width: null;

  @if $bp == mobile {
    $width: $mobile;
  } @else if $bp == to-tablet {
    $width: $to-tablet;
  } @else if $bp == tablet {
    $width: $tablet;
  } @else if $bp == to-desktop {
    $width: $to-desktop;
  } @else if $bp == desktop {
    $width: $desktop;
  } @else {
    @error "Breakpoint not found: #{$bp}";
  }

  @if $width {
    @if $type == max {
      $width: $width - 0.02px;
    }

    @media only screen and (#{$type}-width: $width) {
      @if $is-retina {
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          @content;
        }
      } @else {
        @content;
      }
    }
  }
}

@mixin ease($speed, $property) {
  transition: $property $speed;
}
