<section id="benefits" class="section benefits-section">
  <div class="container benefits-container">
    <h2 class="benefits-title">Benefits</h2>
    <ul class="benefits-menu">
      <li class="benefits-menu-item">
        <svg
          class="benefits-icon-dote"
          width="11"
          height="11"
          aria-label="Icon dote for list"
        >
          <use href="./img/sprite.svg#icon-dote"></use>
        </svg>
        <p class="benefits-menu-item-text">
          Exciting 3D Puzzle Gameplay - Match triple tiles in visually stunning
          3D puzzles.
        </p>
      </li>
      <li class="benefits-menu-item">
        <svg
          class="benefits-icon-dote"
          width="11"
          height="11"
          aria-label="Icon dote for list"
        >
          <use href="./img/sprite.svg#icon-dote"></use>
        </svg>
        <p class="benefits-menu-item-text">
          Brain Training Fun - Sharpen your mind and improve your concentration.
        </p>
      </li>
      <li class="benefits-menu-item">
        <svg
          class="benefits-icon-dote"
          width="11"
          height="11"
          aria-label="Icon dote for list"
        >
          <use href="./img/sprite.svg#icon-dote"></use>
        </svg>
        <p class="benefits-menu-item-text">
          Unique Building System - Unlock new elements as you progress through
          the game.
        </p>
      </li>
      <li class="benefits-menu-item">
        <svg
          class="benefits-icon-dote"
          width="11"
          height="11"
          aria-label="Icon dote for list"
        >
          <use href="./img/sprite.svg#icon-dote"></use>
        </svg>
        <p class="benefits-menu-item-text">
          Immersive Adventure - Play with Ben and Jerry in a delightful journey
          filled with surprises.
        </p>
      </li>
      <li class="benefits-menu-item">
        <svg
          class="benefits-icon-dote"
          width="11"
          height="11"
          aria-label="Icon dote for list"
        >
          <use href="./img/sprite.svg#icon-dote"></use>
        </svg>
        <p class="benefits-menu-item-text">
          Engaging Challenges - Enjoy hundreds of levels with increasing
          difficulty.
        </p>
      </li>
      <li class="benefits-menu-item">
        <svg
          class="benefits-icon-dote"
          width="11"
          height="11"
          aria-label="Icon dote for list"
        >
          <use href="./img/sprite.svg#icon-dote"></use>
        </svg>
        <p class="benefits-menu-item-text">
          Relaxing & Entertaining - Play at your own pace with soothing visuals
          and animations.
        </p>
      </li>
    </ul>
  </div>
</section>
