<section id="feature-keys" class="section">
  <div class="container">
    <h2 class="feature-title">Feature Keys</h2>
    <ul class="feature-menu">
      <li class="feature-menu-item feature-menu-list">
        <p class="feature-menu-item-text">
          Triple Tile Matching: Find and match three identical 3D objects to
          clear levels.
        </p>
      </li>
      <li class="feature-menu-item feature-menu-list">
        <p class="feature-menu-item-text">
          Adventure Storyline: Join Ben and Jerry on a puzzle-filled journey.
        </p>
      </li>
      <li class="feature-menu-item feature-menu-list">
        <p class="feature-menu-item-text">
          Creative Building System: Unlock structures and create a magical
          world.
        </p>
      </li>
      <li class="feature-menu-item feature-menu-list">
        <p class="feature-menu-item-text">
          Diverse Challenges: Face tricky levels and improve your matching
          skills.
        </p>
      </li>
      <li class="feature-menu-item feature-menu-list">
        <p class="feature-menu-item-text">
          Beautiful 3D Graphics: Enjoy vibrant visuals and engaging animations.
        </p>
      </li>
      <li class="feature-menu-item feature-menu-list">
        <p class="feature-menu-item-text">
          Free-to-Play with Depth: Accessible for casual players but challenging
          for puzzle enthusiasts.
        </p>
      </li>
    </ul>
  </div>
</section>
