<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <nav class="nav-footer">
        <ul class="list-footer">
          <li class="footer-item">
            <a href="./privacy-policy.html">
              <h3 class="title-footer">Privacy Policy</h3>
            </a>
          </li>
          <li class="footer-item-right">
            <a href="./terms-conditions.html">
              <h3 class="title-footer">Terms & Conditions</h3>
            </a>
          </li>
          <li class="footer-item">
            <a href="./cookies-policy.html">
              <h3 class="title-footer">Cookies Policy</h3>
            </a>
          </li>
        </ul>
      </nav>
      <p class="text-footer">
        All Rights Reserved epicpowerhub.com &#124; 2025
      </p>
    </div>
  </div>
</footer>
