<!-- <section id="gallery" class="section">
  <div class="container"></div>
</section> -->



<section class="gallery">
  <h2>Gallery</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../img/gallery/gallery-mobile1@2x.png" alt="Match Triple 3D Objects!" width="280" height="300">
        <p>Match Triple 3D Objects!
          Find, match, and clear tiles in stunning 3D.</p>
      </div>
      <div class="swiper-slide">
        <img src="../img/gallery/gallery-mobile4@2x.png" alt="Join the Adventure" width="280" height="299">
        <p>Join the Adventure! Explore a fun world with Ben and Jerry.</p>
      </div>
      <div class="swiper-slide">
        <img src="../img/gallery/gallery-mobile2@2x.png" alt="Unlock & Build" width="280" height="157">
        <p>Unlock & Build! Progress through levels and create magical structures.</p>
      </div>
      <div class="swiper-slide">
        <img src="../img/gallery/gallery-mobile3@2x.png" alt="Relax & Enjoy" width="280" height="157">
        <p>Relax & Enjoy! Enjoy soothing visuals and rewarding gameplay.</p>
      </div>

    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>