<header class="header">
  <div class="container container-nav">
    <nav class="main-nav">
      <a href="./index.html" class="header-logo-link">
        <img src="" alt="Match Miracle logotype" class="header-logo" />
        <span class="header-logo-name">Match Miracle: Triple 3D Game</span></a
      >

      <button class="burger-navbar-btn" type="button">
        <svg
          class="burger-menu"
          width="26"
          height="24"
          aria-label="Burger menu"
        >
          <use href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </button>

      <ul class="navigation">
        <li class="navigation-item">
          <a href="#home" class="navigation-link">Home</a>
        </li>
        <li class="navigation-item">
          <a href="#benefits" class="navigation-link">Benefits</a>
        </li>
        <li class="navigation-item">
          <a href="#feature-keys" class="navigation-link">Feature Keys</a>
        </li>
        <li class="navigation-item">
          <a href="#about" class="navigation-link">About This Game</a>
        </li>
        <li class="navigation-item">
          <a href="#how-play" class="navigation-link">How to Play</a>
        </li>
        <li class="navigation-item">
          <a href="#faq" class="navigation-link">FAQ</a>
        </li>
        <li class="navigation-item">
          <a href="#reviews" class="navigation-link">Reviews</a>
        </li>
        <li class="navigation-item">
          <a href="#gallery" class="navigation-link">Gallery</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- BURGER MOBILE MENU -->
<div class="burger-navbar">
  <nav class="burger-modal-nav">
    <ul class="burger-nav-menu">
      <li class="nav-item">
        <a href="#home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#benefits" class="nav-link">Benefits</a>
      </li>
      <li class="nav-item">
        <a href="#feature-keys" class="nav-link">Feature Keys</a>
      </li>
      <li class="nav-item">
        <a href="#about" class="nav-link">About This Game</a>
      </li>
      <li class="nav-item">
        <a href="#faq" class="nav-link">FAQ</a>
      </li>
      <li class="nav-item">
        <a href="#reviews" class="nav-link">Reviews</a>
      </li>
      <li class="nav-item">
        <a href="#gallery" class="nav-link">Gallery</a>
      </li>
    </ul>
  </nav>
</div>
