<section id="home">
  <div class="container container-hero">
    <div class="content-position">
      <h1 class="hero-title">
        Match Miracle: Triple 3D Game - A Magical Puzzle Adventure!
      </h1>
      <p class="hero-text">
        Hop into a magical journey in Match Miracle: Triple 3D Game! This fun
        and engaging puzzle game combines classic tile-matching mechanics with a
        unique building system. Play alongside Ben and Jerry on a thrilling 3D
        adventure that will challenge your brain and bring endless
        entertainment. Find and pop up identical triple 3D objects hidden among
        the piled tiles to make a perfect match and clear the board. Are you
        ready to become a match master?
      </p>

      <!-- ANIMATED BLOCK -->
      <div class="animated-block">
        <div class="overlay-block">
          <h2 class="overlay-title">Our cookie Policy</h2>
          <p class="overlay-text">
            We use cookies to improve your experience on our website. By
            browsing this website, you agree to our use of cookies.
          </p>
          <div class="overlay-btns-box">
            <button class="overlay-btn-info" type="button">
              Accept cookies
            </button>
            <button class="overlay-btn-frame" type="button">
              Decline cookies
            </button>
          </div>
        </div>
      </div>

      <span class="hero-google-play-box">
        <a
          class="hero-google-play-link"
          href="https://play.google.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src=""
            class="hero-google-play-visual"
            alt="Get it on Google Play"
          />
          Google Play
        </a></span
      >
    </div>
  </div>
</section>
