<section id="how-play" class="section">
  <div class="container">
    <h2>How to Play</h2>

    <div class="swiper">
      <div class="swiper-wrapper custom-slide-container">
        <!-- Перший слайд -->
        <div class="swiper-slide custom-slide">
          <img src="" class="slide1" alt="Challenge Levels" />
          <p class="slide-text">
            Match Triple Tiles: Find three identical 3D objects and tap to
            remove them.
          </p>
        </div>

        <!-- Другий слайд -->
        <div class="swiper-slide custom-slide">
          <img src="" class="slide2" alt="Clear the Board" />
          <p class="slide-text">
            Clear the Board: Keep matching tiles until no objects remain.
          </p>
        </div>

        <!-- Третій слайд -->
        <div class="swiper-slide custom-slide">
          <img src="" class="slide3" alt="Unlock Various Scenes" />
          <p class="slide-text">
            Unlock New Levels: Progress through increasingly complex puzzles.
          </p>
        </div>

        <!-- Четвертий слайд -->
        <div class="swiper-slide custom-slide">
          <img src="" class="slide4" alt="Multiple Objects" />
          <p class="slide-text">
            Train Your Brain: Improve logic and pattern recognition skills.
          </p>
        </div>

        <!-- П'ятий слайд -->
        <div class="swiper-slide custom-slide">
          <img src="" class="slide5" alt="Explore & Build" />
          <p class="slide-text">
            Explore & Build: Unlock new elements and structures as you advance.
          </p>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>