<section id="reviews" class="section">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="swiper">
      <div class="swiper-wrapper reviews-custom-slide-container">
        <div class="swiper-slide">
          <div class="review-slide">
            <p class="review-text">
              Super fun and addictive! The 3D matching mechanic is so
              satisfying.
            </p>
            <div class="review-author">
              <img src="" class="review-avatar1" alt="Emily Carter" />
              <p class="review-name">Emily Carter</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="review-slide">
            <p class="review-text">
              Love the building system! It adds a creative touch to a great
              puzzle game.
            </p>
            <div class="review-author">
              <img src="" class="review-avatar2" alt="Jacob Reynolds" />
              <p class="review-name">Jacob Reynolds</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="review-slide">
            <p class="review-text">
              Challenging but relaxing. The perfect game for puzzle lovers!
            </p>
            <div class="review-author">
              <img src="" class="review-avatar3" alt="Sophia Lewis" />
              <p class="review-name">Sophia Lewis</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="review-slide">
            <p class="review-text">
              Ben and Jerry are adorable! Their journey makes the game even more
              enjoyable
            </p>
            <div class="review-author">
              <img src="" class="review-avatar4" alt="Michael Turner" />
              <p class="review-name">Michael Turner</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="review-slide">
            <p class="review-text">
              The graphics and animations are beautiful. I can't stop playing!
            </p>
            <div class="review-author">
              <img src="" class="review-avatar5" alt="Olivia Martin" />
              <p class="review-name">Olivia Martin</p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
