.feature-menu {
  display: flex;
  flex-direction: column;
}

.feature-menu-list {
  position: relative;
  padding-left: 20px;
}

.feature-menu-list::before {
  content: '·';
  position: absolute;
  left: 5px;
  top: 25%;
  transform: translateY(-50%);
  color: $_dark_bg;

  @include font(34);

  @include media(desktop) {
    left: 0;
    top: 40%;

    @include font(60);
  }
}

.feature-menu-item {
  display: flex;
  align-items: center;
}

.feature-icon-dote {
  margin-right: 10px;

  @include media(desktop) {
    margin-left: 10px;
  }
}

.feature-menu-item-text {
  @include media(desktop) {
    @include font(24, 1.41);
  }
}
