.gallery-slide1,
.gallery-slide2,
.gallery-slide3,
.gallery-slide4 {
  margin: 0 auto;
  width: 280px;
  height: 157px;
  margin-bottom: 18px;
  border-radius: $border-thin;
  background-color: $_common_img_bg;

  @include media(desktop) {
    margin-bottom: 15px;
    border-radius: $border-thin;
    width: 545px;
    height: 300px;
  }
}

.gallery-slide1 {
  content: url('../img/gallery/gallery-mobile1.png');

  @include mq(mobile, min, true) {
    content: url('../img/gallery/gallery-mobile1@2x.png');
  }

  @include media(desktop) {
    @include mq(desktop, min) {
      content: url('../img/gallery/gallery-desktop1.png');
    }
    @include mq(desktop, min, true) {
      content: url('../img/gallery/gallery-desktop1@2x.png');
    }
  }
}

.gallery-slide2 {
  content: url('../img/gallery/gallery-mobile2.png');

  @include mq(mobile, min, true) {
    content: url('../img/gallery/gallery-mobile2@2x.png');
  }

  @include media(desktop) {
    @include mq(desktop, min) {
      content: url('../img/gallery/gallery-desktop2.png');
    }
    @include mq(desktop, min, true) {
      content: url('../img/gallery/gallery-desktop2@2x.png');
    }
  }
}

.gallery-slide3 {
  content: url('../img/gallery/gallery-mobile3.png');

  @include mq(mobile, min, true) {
    content: url('../img/gallery/gallery-mobile3@2x.png');
  }

  @include media(desktop) {
    @include mq(desktop, min) {
      content: url('../img/gallery/gallery-desktop3.png');
    }
    @include mq(desktop, min, true) {
      content: url('../img/gallery/gallery-desktop3@2x.png');
    }
  }
}

.gallery-slide4 {
  content: url('../img/gallery/gallery-mobile4.png');

  @include mq(mobile, min, true) {
    content: url('../img/gallery/gallery-mobile4@2x.png');
  }

  @include media(desktop) {
    @include mq(desktop, min) {
      content: url('../img/gallery/gallery-desktop4.png');
    }
    @include mq(desktop, min, true) {
      content: url('../img/gallery/gallery-desktop4@2x.png');
    }
  }
}

.gallery-custom-slide-container {
  @include media(desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}

.gallery-custom-slide {
  @include media(desktop) {
    width: calc(50% - 15px);
    max-width: 545px;
  }
}

.gallery-slide-text {
  text-align: center;

  @include media(desktop) {
    @include font(20);
  }
}

.gallery-slide-next-text {
  width: 304px;
  text-align: center;
  margin: 0 auto;

  @include media(desktop) {
    width: 507px;

    @include font(20);
  }
}
