.reviews-container {
  position: relative;
  background-image: url('../img/reviews/reviews-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 30px;
  max-width: 320px;
  margin: 0 auto;

  @include mq(mobile, min, true) {
    background-image: url('../img/reviews/reviews-mobile@2x.png');
  }

  @include media(desktop) {
    background-position: center bottom 0;
    max-width: 1200px;

    @include mq(desktop, min) {
      background-image: url('../img/reviews/reviews-desktop.png');
    }
    @include mq(desktop, min, true) {
      background-image: url('../img/reviews/reviews-desktop@2x.png');
    }
  }
}

.reviews-custom-slide-container {
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}

.review-slide {
  padding: 30px 28px 0px 29px;
  height: 196px;
  width: 243px;
  border-radius: $border-bold;
  backdrop-filter: blur(43px);
  box-shadow: $_box_shadow;
  background: $_box_bg;

  @include media(desktop) {
    padding: 30px 31px 0px 31px;
    height: 226px;
  }
}

.swiper-slide {
  @include media(desktop) {
    max-width: 320px;
  }
}

.reviews-title {
  margin-bottom: 56px;

  @include media(desktop) {
    margin-bottom: 25px;
  }
}

.review-text {
  color: $_dark_bg;
  width: 243px;

  @include font(20);
  @include font-weight(normal);
}

.review-author {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px;
  bottom: 10px;
  left: 10px;
}

.review-name {
  color: $_dark_gray_color;

  @include font(20);
  @include font-weight(semibold);

  @include media(desktop) {
    @include font(25);
  }
}

/* AVATAR IMG */
.review-avatar1,
.review-avatar2,
.review-avatar3,
.review-avatar4,
.review-avatar5 {
  width: 55px;
  height: 55px;
  object-fit: cover;

  @include frame(55px, 55px, true);

  @include media(desktop) {
    width: 60px;
    height: 60px;
    @include frame(60px, 60px, true);
  }
}

.review-avatar1 {
  content: url('../img/reviews/reviews-mobile1.png');

  @include mq(mobile, min, true) {
    content: url('../img/reviews/reviews-mobile1@2x.png');
  }

  @include media(desktop) {
    @include mq(desktop, min) {
      content: url('../img/reviews/reviews-desktop1.png');
    }
    @include mq(desktop, min, true) {
      content: url('../img/reviews/reviews-desktop1@2x.png');
    }
  }
}

.review-avatar2 {
  content: url('../img/reviews/reviews-mobile2.png');

  @include mq(mobile, min, true) {
    content: url('../img/reviews/reviews-mobile2@2x.png');
  }

  @include media(desktop) {
    @include mq(desktop, min) {
      content: url('../img/reviews/reviews-desktop2.png');
    }
    @include mq(desktop, min, true) {
      content: url('../img/reviews/reviews-desktop2@2x.png');
    }
  }
}

.review-avatar3 {
  content: url('../img/reviews/reviews-mobile3.png');

  @include mq(mobile, min, true) {
    content: url('../img/reviews/reviews-mobile3@2x.png');
  }

  @include media(desktop) {
    @include mq(desktop, min) {
      content: url('../img/reviews/reviews-desktop3.png');
    }
    @include mq(desktop, min, true) {
      content: url('../img/reviews/reviews-desktop3@2x.png');
    }
  }
}

.review-avatar4 {
  content: url('../img/reviews/reviews-mobile4.png');
  @include mq(mobile, min, true) {
    content: url('../img/reviews/reviews-mobile4@2x.png');
  }

  @include media(desktop) {
    @include mq(desktop, min) {
      content: url('../img/reviews/reviews-desktop4.png');
    }
    @include mq(desktop, min, true) {
      content: url('../img/reviews/reviews-desktop4@2x.png');
    }
  }
}

.review-avatar5 {
  content: url('../img/reviews/reviews-mobile5.png');

  @include mq(mobile, min, true) {
    content: url('../img/reviews/reviews-mobile5@2x.png');
  }

  @include media(desktop) {
    @include mq(desktop, min) {
      content: url('../img/reviews/reviews-desktop5.png');
    }
    @include mq(desktop, min, true) {
      content: url('../img/reviews/reviews-desktop5@2x.png');
    }
  }
}
