@import './common/reset';
@import './common/vars';
@import './common/mixins';
@import './common/visually-hidden';
@import './header.scss';
@import './hero.scss';
@import './benefits.scss';
@import './feature-keys.scss';
@import './about.scss';
@import './how-play.scss';
@import './faq.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './footer.scss';
@import './privacy-policy.scss';
@import './terms-conditions.scss';
@import './cookies-policy.scss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $_primary_bg;
  color: $_main_color;
  font-family: $_font_main;
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  @include scroll-bar;
}

body::before,
body::after {
  content: '';
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}

body::before {
  left: 0;
  background: linear-gradient(to right, $_gradient, $_primary_bg);
}

body::after {
  right: 0;
  background: linear-gradient(to left, $_gradient, $_primary_bg);
}

.container {
  max-width: $_container-mobile;
  margin: 0 auto;
  padding: 0 10px;

  @include media(desktop) {
    max-width: $_container-desktop;
    padding: 0 30px;
  }
}

.section {
  padding: 20px 0;

  @include media(desktop) {
    padding: 35px 0;
  }
}

h1 {
  @include font-weight(bold);
  @include font(24);
  text-align: center;

  @include media(desktop) {
    @include font(40);
    text-align: start;
  }
}

h2 {
  @include font-weight(bold);
  @include font(34);
  text-align: center;

  @include media(desktop) {
    @include font(38);
    text-align: start;
  }
}

h3 {
  @include font-weight(medium);
  @include font(14);
  color: $_white_text_color;

  @include media(desktop) {
    @include font(25);
  }
}

p {
  @include font-weight(normal);
  @include font(12);

  @include media(desktop) {
    @include font(25);
  }
}
