@import './header.scss';
@import './hero.css';
@import './benefits.css';
@import './feature-keys.css';
@import './about.css';
@import './how-play.css';
@import './faq.css';
@import './reviews.css';
@import './gallery.css';
@import './footer.css';
@import './privacy-policy.css';
@import './terms-conditions.css';
@import './cookies-policy.css';
@import './common/reset';

body {
  background-color: #4ba1e2;
  color: #2f2f2f;
  font-family: 'Lora', sans-serif;
  //font-family: "Baloo 2", sans-serif;

  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(to right, #77b8e9, #4ba1e2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(to left, #77b8e9, #4ba1e2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  padding: 20px 0;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 34px;
}

h3 {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

p {
  font-weight: 400;
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 30px;
  }

  .section {
    padding: 35px 0;
  }

  h1 {
    font-size: 40px;
    text-align: start;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 25px;
    text-align: start;
  }

  p {
    font-size: 25px;
  }
}
